/* List of data including transection , loans , investor etc */


.transactions-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--clr-primary);
    border-radius: 10px;
    color: #fff;
  }
  
  .transactions-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .transactions-title {
    font-size: 1.5em;
    margin: 0;
  }
  
  .search-box {
    padding: 8px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  
  .add-transaction-button {
    background-color: #ff5722;
    border: none;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .add-transaction-button img {
    width: 20px;
    height: 20px;
  }
  
  .transactions-content {
    width: 100%;
  }
  
  .transactions-list {
    width: 100%;
  }
  
  .transaction-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: 15px;
    background-color: #333;
    border-radius: 10px;
  
  }
  
  .transaction-left {
    display: flex;
    align-items: center;
  }
  
  .transaction-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
  }
  
  .transaction-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .transaction-details {
    display: flex;
    flex-direction: column;
  }
  
  .transaction-name {
    font-size: 1em;
    margin: 0;
    font-weight: 600;
  }
  
  .transaction-date {
    font-size: 0.85em;
    color: #aaa;
    margin-top: 4px;
  }
  
  .transaction {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    font-weight: 500;
    /* color: #ff5722; */
    padding: 5px;
  }
  
  
  
  /* //add investor and input field */
  
  .addinvestor {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--clr-primary);
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form_input {
    margin-bottom: 15px;
  }
  
  .input_box {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .submit_button {
    width: 100%;
    padding: 10px;
    background-color: #ff5722;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit_button:hover {
    background-color: #0056b3;
  }
  
  
  
  /* //profile details */
  
  .profile-container {
    width: 48%;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .profile-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-header h3 {
    color: #ffa500;
    font-size: 24px;
    margin: 0;
  }
  
  .profile-avatar {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ffa500;
  }
  
  .profile-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #444;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .profile {
    display: flex;
    flex-direction: column;
  }
  
  .profile_data p,
  .profile_data span {
    margin: 5px 0;
    font-size: 16px;
  }
  
  .profile_data .profile-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .profile-amount {
    display: block;
    font-size: 16px;
    margin: 5px 0;
  }
  
  .profile-amount:first-of-type {
    margin-top: 0;
  }
  
  
  
  .active-investments,
  .inactive-investments {
    width: 48%;
  }
  
  
  h3 {
    color: #ffa500;
    padding-bottom: 10px;
  }
  
  ol {
    padding-left: 20px;
  }
  
  ol li {
    margin-bottom: 10px;
  }
  
  
  .investor_profile_container_item{
    display: flex;
    flex-direction: column;
  }


    /* Responsive Design */
    @media (max-width: 768px) {
        .transactions-header {
          flex-direction: column;
          align-items: flex-start;
        }
    
        .header-right {
          margin-top: 10px;
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
    
        .search-box {
          width: calc(100% - 60px);
          /* Adjust the width according to the button size */
          margin-right: 10px;
        }
    
        .add-transaction-button {
          margin-top: 10px;
        }
    
        .transaction-item {
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          align-items: center;
        }
    
    
    
        .transaction {
          margin-top: 5px;
          background-color: var(--clr-primary);
          border-radius: 10px;
          justify-content: center;
          text-align: center;
    
          width: 100%;
        }
    
        /* //profile */
        .profile-container {
          padding: 15px;
          width: 100%;
        }
    
        .profile-avatar img {
          width: 80px;
          height: 80px;
        }
    
        .profile p,
        .profile span,
        .profile-amount {
          font-size: 14px;
        }
    
        .profile-header h3 {
          font-size: 20px;
        }
    
        .profile-item {
          flex-direction: column;
          align-items: flex-start;
        }
    
        .profile-left {
          margin-bottom: 15px;
        }
    
        .investor_profile_container_item {
          display: flex;
          flex-direction: column;
        }
    
    
    
      }